[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
[submodule "submodules/diff-surfel-rasterization-fork"]
	path = submodules/diff-surfel-rasterization-fork
	url = https://github.com/Rooholla-KhorramBakht/diff-surfel-rasterization-fork.git
